@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mulish:wght@400;500;600;700;800&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
/* shared styles */
.btn-primary {
  width: 170px;
  height: 50px;
  background-color: #ff5400;
  border-radius: 8px;
  border: none;
  color: #fff;
}

/* navbar */
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-list {
  display: flex;
  gap: 44px;
}

.nav-list li {
  list-style: none;
}
.nav-list a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 700;
}
.nav-list .home {
  color: #ff5400;
}
.menu-bar {
  display: none;
}
/* bannrer section */
.header {
  max-width: 1140px;
  margin: 0 auto;
}
.banner-section {
  min-height: 500px;
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-top: 50px;
}

.banner-container {
  max-width: 800px;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8),
    rgba(19, 19, 24, 0)
  );
  padding: 10px;
}
.banner-title {
  font-size: 64px;
  font-weight: 800;
  color: white;
}
.banner-description {
  color: #fff;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.banner-input input {
  width: 170px;
  height: 50px;
  border-radius: 8px;
  border: 0;
  outline: none;
  padding: 16px;
  margin-right: 16px;
}
.search-icon {
  font-size: 16px;
}
/* popular tour */
.popular-tours {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-top: 100px;
}
.tour-content {
  max-width: 570px;
}
.tour-title {
  font-size: 40px;
  color: #131318;
  font-weight: 800;
}
.tour-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.margin {
  margin: 24px 0;
}
.margin-top {
  margin-top: 10px;
}
.p-left {
  margin-left: 30px;
}

/* destination section */
.destination-section {
  max-width: 1140px;
  margin: 0 auto;

  margin-top: 100px;
}
.about-dest {
  text-align: center;
}
#para {
  margin: 24px 0 45px 0;
}
.row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.set-position {
  position: relative;
}
.set-position img {
  width: 100%;
}
.set-position > h3 {
  position: absolute;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}
.maldives {
  top: 42%;
  left: 38%;
}
.indonesia,
.bandarban {
  top: 42%;
  left: 38%;
}
.srilanka {
  top: 42%;
  left: 33%;
}
.north-america {
  top: 42%;
  left: 28%;
}
.kashmir,
.bangladesh {
  top: 42%;
  left: 30%;
}
/* booking section */
.hotel-booking-section {
  max-width: 1140px;
  margin: 50px auto;
}
.hotel-content {
  margin: 50px 0 20px 0;
}
.hotel-content > p {
  max-width: 700px;
}
.grid-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.grid-card {
  max-width: 360px;
  border: 2px solid tomato;
  padding: 10px;
  border-radius: 16px;
}
.grid-card > h2 {
  margin-top: 10px;
}
.grid-card > p {
  margin: 10px 0;
}
.grid-card > button {
  width: 100%;
}
.grid-card img {
  width: 100%;
  height: 224px;
  object-fit: cover;
  border-radius: 16px;
}
/* choose us section */
.choose-us-section {
  max-width: 1140px;
  margin: 100px auto;
}
.choose-row {
  display: flex;
  gap: 24px;
}
.choose-row .card {
  max-width: 556px;
  max-height: 250px;
  background-color: rgba(251, 181, 99, 0.05);
  padding: 16px 50px 32px 32px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
}
.card > img {
  width: 64px;
  height: 64px;
}
.center {
  margin: 0 auto;
  margin-top: 24px;
}
.choose-content {
  text-align: center;
  margin-bottom: 48px;
}
.mt-24px {
  margin-top: 24px;
}
#card-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  border-radius: 16px;
  background: rgba(41, 206, 246, 0.05);
}
/* newsletter section */
.news-letter-section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
.form {
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter-input-field {
  max-width: 390px;
  margin: 0 auto;
}

.newsletter-input-field input {
  min-width: 390px;
  height: 50px;
  background-color: rgba(19, 19, 24, 0.05);
  border-radius: 8px;
  border: none;
  outline: 0;
  padding: 16px;
  margin-bottom: 16px;
}
.news-letter-title {
  font-size: 24px;
  font-weight: 800;
  color: #131318;
  margin-bottom: 10px;
  padding: 50px 16px 0 24px;
}
.news-letter-para {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
  padding: 0 16px 0px 24px;
}
.hr {
  margin-bottom: 24px;
  max-width: 390px;
  margin-left: 24px;
}
.subscribe {
  width: 390px;
  height: 50px;
}
.new-letter-img {
  position: relative;
}
.discount-70 {
  max-width: 300px;
  padding: 20px;
  background-color: #ff5400;
  position: absolute;
  bottom: 44px;
  right: 6px;
  text-align: center;
  border-radius: 16px;
  transform: rotate(-19.628deg);
}
.discount-70 > h3 {
  font-size: 32px;
  font-weight: 800;
  color: #fff;
}
.discount-70 > p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
/* footer section */
.footer-section {
  background: rgba(19, 19, 24, 0.05);
  margin-top: 100px;
  padding: 100px 0;
}
.footer-content {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.footer-img-title {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.travel-color {
  color: #ff5400;
}
.hero-title-vai {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}
.footer-des {
  padding: 15px 0 30px 0;
}
.social-icon i {
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.reserved {
  margin-top: 50px;
}
